<form class="add" action="/shops" method="post">
  <input type="text" name="name" placeholder="Shop Name">
  <input type="text" name="city" placeholder="Shop City">

  <button type="submit" name="button">Submit Shop</button>
</form>
