<form action="/shops/<%= shops.id %>" method = 'POST'>
<input type="hidden" id='<%= shops.id %>'>

  <input type="text" name="name" value='<%= shops.name %>'>
  <input type="text" name="city" value='<%= shops.city %>'>

  <button>Submit Shop</button>
</form>
